body {
  background-color: antiquewhite;
  font-family: 'Libre Baskerville', serif, !important;
}

.nav-effect:hover {
  background: radial-gradient(rgb(141, 123, 123), rgb(53, 52, 52));
  border-radius: 30px;
  box-shadow: rgba(238, 235, 235, 0.35) 0px 0px 15px;
}

.slug_title {
  background-color: transparent;
}

.card {
  height: 100%;
  position: relative;
  transition: transform 0.3s ease;
  background-color: transparent;
}

.card-hover:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: white
}

.title_effect:hover {
  color: #e91111;
  text-shadow:
    1px 1px 2px black,
    0 0 1em rgb(92, 92, 92),
    0 0 0.2em rgb(92, 92, 92);
}

.tag-effect {
  position: relative;
  transition: transform 0.3s ease;
}

.tag-effect:hover {
  transform: scale(1.05);
  color: #e91111;
  text-shadow: 1px 1px black;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.card-body {
  max-height: 200px;
  overflow: hidden;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.shadow {
  height: 100%;
}

.carousel_img {
  height: 300px;
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  color: white;
}

.carousel-caption h3 {
  margin: 0;
  font-size: 24px;
}

.image {
  height: 400px;
  object-fit: cover;
}

@media (max-width: 576px) {
  .carousel-container {
    display: flex;
    justify-content: center;
  }

  .mob-ver {
    width: 100% !important;
  }

}

@media (max-width: 768px) {
  .post_mob {
    width: 83%;
  }
}

@media only screen and (max-width: 992px) {
  .tags {
    display: none !important;
  }

  .tops {
    display: none !important;
  }

  .post_mob {
    width: 83%;
  }

}

@media only screen and (max-width: 1200px) {
  .col-lg-4 {
    width: 50%
  }
}