{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}
<!-- Carousel Section -->
<div class="carousel-container bg-dark">
  <div class="row row_slide">
    <div class="col-md-8 m-auto">
      <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          {% for top_post in top_posts %}
          <div class="carousel-item {% if forloop.first %} active {% endif %}">
            <div class="d-flex justify-content-center">
              <div class="carousel-img-container">
                <img src="{{ top_post.image.url }}" class="d-block w-100 carousel_img img-fluid" alt="{{ top_post.title }}">
              </div>
            </div>
            <div class="carousel-caption">
              <a href="{% url 'postDetails' top_post.pk %}" class="text-decoration-none text-center" data-post-pk="{{ post.pk }}" data-show-post-detail>
                <h5><strong class="card-title fst-italic title_effect">{{ top_post.title|title }}</strong></h5>
              </a>    
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Search Panel -->
<div class="container mt-4 col-md-4">
  <div class="row">
    <div class="col-md-12">
      <form action="{% url 'index' %}" method="GET" class="d-flex">
        <label for="searchInput" class="sr-only">Search</label>
        <input type="search" name="q" class="form-control me-2" id="searchInput" placeholder="Search..." value="{{ request.GET.q }}">
        <button type="submit" class="btn btn-success">Search</button>
      </form>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-4">
  <!-- Category Section -->
  <div class="col-2 tags ">
    <div>
    <h4 class="text-center pb-3 mb-3 border-bottom"><strong> Categories </strong></h4>
    <ul>
      {% for tag, count in tag_list %}
      <li class="tag-effect"><a href="{% url 'index_by_tag' tag %}">{{ tag|title }} ({{ count }})</a></li>
      {% endfor %}
    </ul></div>
  </div>
  <!-- Posts Section -->
  <div class="col-6 mt-2 post_mob">
    <div class="row g-4">
      {% if search_query %}
        {% for post in posts  %}
        <div class="col-lg-4 p-2 mob-ver">
          <div class="card shadow card-hover">
            <img src="{{ post.image.url }}" alt="Post Image" class="card-img-top">
            <div class="card-body ">
              <ul class="list-group list-group-flush ">
                <li class="list-group-item slug_title"><span class="badge rounded-pill bg-primary">
                      <small class="card-title">{{ post.slug|title }}</small>
                    </span>
                  </li>
              </ul>
              <!-- Button open post detail -->
              <a href="{% url 'postDetails' post.pk %}" class="text-decoration-none text-center" data-post-pk="{{ post.pk }}" data-show-post-detail>
                <h5><strong class="card-title fst-italic title_effect">{{ post.title|title }}</strong></h5>
              </a>              
              <p class="card-text">{{ post.body }}</p>
            </div>
            <div class="mt-auto card-footer">
              <small class="text-muted">{{ post.created }}</small>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        {% for post in page_obj  %}
        <div class="col-lg-4 p-2 mob-ver">
          <div class="card shadow card-hover">
            <img src="{{ post.image.url }}" alt="Post Image" class="card-img-top">
            <div class="card-body ">
              <ul class="list-group list-group-flush ">
                <li class="list-group-item slug_title"><span class="badge rounded-pill bg-primary">
                      <small class="card-title">{{ post.slug|title }}</small>
                    </span>
                  </li>
              </ul>
              <!-- Button open post detail -->
              <a href="{% url 'postDetails' post.pk %}" class="text-decoration-none text-center" data-post-pk="{{ post.pk }}" data-show-post-detail>
                <h5><strong class="card-title fst-italic title_effect">{{ post.title|title }}</strong></h5>
              </a>              
              <p class="card-text">{{ post.body }}</p>
            </div>
            <div class="mt-auto card-footer">
              <small class="text-muted">{{ post.created }}</small>
            </div>
          </div>
        </div>
        {% endfor %}
      {% endif %}
      <!-- Pagination -->
      <div class="pagination d-flex justify-content-center mb-5">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            {% if page_obj.paginator.num_pages > 1  %}
              {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% endif %}
              <li class="page-item disabled">
                <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
              </li>
              {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                  </a>
                </li>
              {% endif %}
            {% endif %}
          </ul>
        </nav>

      </div>
    </div>
  </div>
  
  <!-- Top_Post Section -->
  <div class="col-2 tops">
    <div>
    <h4 class="text-center pb-3 mb-3 border-bottom"><strong>Top Post</strong></h4>
    <div class="container">
      {% for top_post in top_posts %}
        <div class="card shadow mb-4 card-hover">
          <img src="{{ top_post.image.url }}" alt="Post Image" class="card-img-top">
          <div class="card-body ">
            <!-- Button open post detail -->
            <a href="{% url 'postDetails' top_post.pk %}" class="text-decoration-none">
              <h6><strong class="card-title fst-italic title_effect">{{ top_post.title|title }}</strong></h6>
            </a>
            <!-- <p class="card-text">{{ top_post.body }}</p> -->
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  </div>
</div>

{% endblock %}